.centerCard {
    display: flex;
    justify-content: center;
    align-content: center;
}

a,
button {
    outline: none;
}

#paragraph {
    visibility: hidden;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}