<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Tailwind CDN -->
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="./assets/android-chrome-512x512.png" type="image/x-icon">
    <meta charset="UTF-8">
    <link
        href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&family=Lato:ital,wght@0,400;0,700;0,900;1,700&display=swap"
        rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/loader.css">
<!-- Primary Meta Tags -->
<meta name="title" content="Teachers Bay">
<meta name="description" content="Teachers' bay is a platform which gives the power to the students to give constructive feedback to their teachers.">
<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://teachersbay.herokuapp.com/login">
<meta property="og:title" content="Teachers Bay">
<meta property="og:description" content="Teachers' bay is a platform which gives the power to the students to give constructive feedback to their teachers.">
<meta property="og:image" content="https://teachersbay.herokuapp.com/assets/metaimg.PNG">
<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://teachersbay.herokuapp.com/login">
<meta property="twitter:title" content="Teachers Bay">
<meta property="twitter:description" content="Teachers' bay is a platform which gives the power to the students to give constructive feedback to their teachers.">
<meta property="twitter:image" content="https://teachersbay.herokuapp.com/assets/metaimg.PNG">
    <title>I'm Bored!</title>
<style>
  html, body {
  height: 100%
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 400px;
}

button {
  width: 100%
}
</style>
</head>

<body>
  <form action="/submit" method="POST">
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
          Name
        </label>
      <input name="name" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="name" type="text" placeholder="Text input">
    </div>
    <div class="mb-4">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-state">
          Subject
        </label>
      <div class="relative">
        <select name="type" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
          <option disabled>Select dropdown</option>
          <option value="Recreational">Recreational</option>
          <option value="Educational">Educational</option>
          <option value="Entertaining">Entertaining</option>
          </select>
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
        </div>
      </div>
    </div>
    <div class="mb-4">
      <label class="block">
        <input class="mr-2 leading-tight" type="checkbox">
        <span class="text-sm">
          I agree this
        </span>
      </label>
    </div>
    <div class="mb-4">
      <label class="inline-flex items-center">
        <input type="radio" class="form-radio"  value="1">
        <span class="ml-2">Yes</span>
      </label>
      <label class="inline-flex items-center ml-6">
        <input type="radio" class="form-radio" value="2">
        <span class="ml-2">No</span>
      </label>
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2">
    Activity
    <textarea name="activity" class="shadow form-textarea mt-1 block w-full border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" rows="5" placeholder="Textarea"></textarea>
  </label>
    </div>
    <div class="flex items-center justify-between">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
          Submit
        </button>
    </div>
  </form>
</body>

</html>