html, body{
    padding: 0;
    margin:0p;
}
.centerCard {
    display: flex;
    justify-content: center;
    align-content: center;
}
.mainCard{
    margin-bottom:4em;
}
a,
button {
    outline: hidden;
}

#paragraph {
    visibility: hidden;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}

svg {
    display: inline-block;
    height: 16.5px;
}
#link{
    color: rgb(45, 42, 231);
}